$icomoon-font-family: "Flatirons-DDL_Icon-Font-v307" !default;
$icomoon-font-path: "fonts" !default;

$icon-add-circle: "\e900";
$icon-add: "\e901";
$icon-airplane: "\e902";
$icon-apps: "\e903";
$icon-arrow-box: "\e904";
$icon-arrow-down-cloud: "\e905";
$icon-arrow-up-cloud: "\e906";
$icon-book-gear: "\e907";
$icon-book-link: "\e908";
$icon-book-open: "\e909";
$icon-book-person: "\e90a";
$icon-book-search: "\e90b";
$icon-book: "\e90c";
$icon-bookmark-group: "\e90d";
$icon-bookmark-outline: "\e90e";
$icon-bookmark: "\e90f";
$icon-briefcase: "\e910";
$icon-brightness: "\e911";
$icon-building: "\e912";
$icon-chart: "\e913";
$icon-check-circle: "\e914";
$icon-check-cloud: "\e915";
$icon-check: "\e916";
$icon-chevron: "\e917";
$icon-close: "\e918";
$icon-cloud: "\e919";
$icon-code: "\e91a";
$icon-computer: "\e91b";
$icon-copy: "\e91c";
$icon-database-gear: "\e91d";
$icon-database: "\e91e";
$icon-document-anchor: "\e91f";
$icon-document-gear: "\e920";
$icon-document: "\e921";
$icon-dots-cloud: "\e922";
$icon-download: "\e923";
$icon-edit: "\e924";
$icon-error: "\e925";
$icon-exit: "\e926";
$icon-eye-closed: "\e927";
$icon-eye: "\e928";
$icon-fail-cloud: "\e929";
$icon-file-gif: "\e92a";
$icon-file-jpg: "\e92b";
$icon-file-mp4: "\e92c";
$icon-file-pdf: "\e92d";
$icon-file-png: "\e92e";
$icon-file-solo: "\e92f";
$icon-file-svg: "\e930";
$icon-file-tiff: "\e931";
$icon-file-wrl: "\e932";
$icon-file-x3d: "\e933";
$icon-file-xls: "\e934";
$icon-filter: "\e935";
$icon-folder-open: "\e936";
$icon-folder: "\e937";
$icon-fullscreen-exit: "\e938";
$icon-fullscreen: "\e939";
$icon-gear: "\e93a";
$icon-globe: "\e93b";
$icon-history: "\e93c";
$icon-home: "\e93d";
$icon-image-group: "\e93e";
$icon-image: "\e93f";
$icon-info: "\e940";
$icon-key: "\e941";
$icon-language: "\e942";
$icon-last-page: "\e943";
$icon-library: "\e944";
$icon-license: "\e945";
$icon-link: "\e946";
$icon-list: "\e947";
$icon-lock: "\e948";
$icon-magnify: "\e949";
$icon-menu: "\e94a";
$icon-more: "\e94b";
$icon-network: "\e94c";
$icon-open-in-new: "\e94d";
$icon-paperclip: "\e94e";
$icon-part: "\e94f";
$icon-person-gear: "\e950";
$icon-person-group: "\e951";
$icon-person: "\e952";
$icon-print: "\e953";
$icon-remove-circle: "\e954";
$icon-reset: "\e955";
$icon-retry: "\e956";
$icon-rotate: "\e957";
$icon-search: "\e958";
$icon-shield: "\e959";
$icon-shopping-cart: "\e95a";
$icon-signature: "\e95b";
$icon-split-view: "\e95c";
$icon-switch: "\e95e";
$icon-sync: "\e95f";
$icon-text: "\e960";
$icon-tool: "\e961";
$icon-tr: "\e962";
$icon-trash: "\e965";
$icon-triangle: "\e966";
$icon-warning: "\e967";
$icon-zoom-in: "\e968";
$icon-zoom-out: "\e969";
$icon-zoom-select: "\e96a";
$icon-restricted-modal: "\e96b";
$icon-high-brightness-outline: "\e96c";
$icon-high-brightness: "\e96d";
$icon-low-brightness-outline: "\e96e";
$icon-low-brightness: "\e96f";
$icon-print-all: "\e970";
$icon-print-selected: "\e971";
$icon-feedback-cart: "\e996";
