{% if signature_details %}
    <div class="signature-indicator">
        <div class="signature-header">
            <i class="fas fa-signature"></i>
            {% trans "Digital Signature" %}
        </div>
        <div class="signature-details">
            <span class="signature-detail-value">{% trans "Signature information available" %}</span>
        </div>
    </div>
{% else %}
    <div class="signature-indicator">
        <div class="signature-header">
            <i class="fas fa-signature"></i>
            {% trans "Digital Signature Present" %}
        </div>
    </div>
{% endif %} 